[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tabulate = "*"
requests = "*"
console-progressbar = "*"
pytz = "*"

[dev-packages]
ipdb = "*"
pylint = "*"

[requires]
python_version = "3.6"
